// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar {
  background-color: black;
  opacity: .8;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav {
  float: right;
}

#navbar ul li{
  text-align: right;
}

#navbar ul li a{
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: grey;
}

#navbar a:hover {
  color:yellow;
  text-decoration: none;
  -webkit-transition: color 600ms;
}
